body {
    background: #ffffff;
    color: #000000;
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 1.2;
    margin: 12px 8px;
    padding: 0; 
}

h1 {
    text-align: center;
}
.titleIntro {
    text-align: center;
}

a, a:visited {
    color: #3366cc;
    text-decoration: none;
}